[project]
	description = SoftiWARP: Software iWARP kernel driver and user library for Linux
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Animesh Trivedi (animeshtrivedi)
[access "refs/for/refs/*"]
	read = group user/Animesh Trivedi (animeshtrivedi)
	push = group user/Animesh Trivedi (animeshtrivedi)
	label-Code-Review = -2..+2 group user/Animesh Trivedi (animeshtrivedi)
	label-Verified = -1..+1 group user/Animesh Trivedi (animeshtrivedi)
	rebase = group user/Animesh Trivedi (animeshtrivedi)
	removeReviewer = group user/Animesh Trivedi (animeshtrivedi)
	submit = group user/Animesh Trivedi (animeshtrivedi)
[access "refs/heads/*"]
	read = group user/Animesh Trivedi (animeshtrivedi)
	create = group user/Animesh Trivedi (animeshtrivedi)
	push = +force group user/Animesh Trivedi (animeshtrivedi)
	pushMerge = group user/Animesh Trivedi (animeshtrivedi)
[access "refs/tags/*"]
	push = group user/Animesh Trivedi (animeshtrivedi)
	push = +force group user/Animesh Trivedi (animeshtrivedi)
